<h1> Welcome to Super Rentals </h1>

We hope you find exactly what you're looking for in a place to stay.

<div class="announcements">
  {{#each announcements as |announcement|}}
    {{ announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</div>

{{new-announcement saveNewAnnouncement="saveNewAnnouncement"}}

<h2> Cities </h2>

<ul>
  {{#each model.cities as |city|}}
    <li>{{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-city saveNewCity="saveNewCity"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
